= form_for @backend_notice do |f|
  - if @backend_notice.errors.any?
    #error_explanation
      h2 = "#{pluralize(@backend_notice.errors.count, "error")} prohibited this backend_notice from being saved:"
      ul
        - @backend_notice.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :backend_categories
    = f.text_field :backend_categories
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .actions = f.submit
