h1 Listing backend_notices

table
  thead
    tr
      th Backend categories
      th Title
      th Content
      th
      th
      th

  tbody
    - @backend_notices.each do |backend_notice|
      tr
        td = backend_notice.backend_categories
        td = backend_notice.title
        td = backend_notice.content
        td = link_to 'Show', backend_notice
        td = link_to 'Edit', edit_backend_notice_path(backend_notice)
        td = link_to 'Destroy', backend_notice, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Notice', new_backend_notice_path
