p#notice = notice

p
  strong Backend categories:
  = @backend_notice.backend_categories
p
  strong Title:
  = @backend_notice.title
p
  strong Content:
  = @backend_notice.content

=> link_to 'Edit', edit_backend_notice_path(@backend_notice)
'|
=< link_to 'Back', backend_notices_path
