= form_for @backend_category do |f|
  - if @backend_category.errors.any?
    #error_explanation
      h2 = "#{pluralize(@backend_category.errors.count, "error")} prohibited this backend_category from being saved:"
      ul
        - @backend_category.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .actions = f.submit
