h1 Listing backend_categories

table
  thead
    tr
      th Title
      th
      th
      th

  tbody
    - @backend_categories.each do |backend_category|
      tr
        td = backend_category.title
        td = link_to 'Show', backend_category
        td = link_to 'Edit', edit_backend_category_path(backend_category)
        td = link_to 'Destroy', backend_category, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Category', new_backend_category_path
